{% extends 'base.html.twig' %}

{% block title %}Success email{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-sm-6 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1 class="h3 mb-3 font-weight-normal">You are got email!</h1>
                                        <div class="mt-3 text-center">
                                            <a href="{{ path('crm_login') }}">
                                                <button type="button" class="btn btn-primary">Login</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}