{% extends 'base.html.twig' %}

{% block title %}Login mb-crm{% endblock %}

{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="text-center">
                                    <form class="form-sign-in" method="post">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                                        <label for="inputEmail" class="sr-only">Email address</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                        <label for="inputPassword" class="sr-only">Password</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{#                                        <div class="checkbox">#}
{#                                            <label>#}
{#                                                <input type="checkbox" name="_remember_me"> Remember me#}
{#                                            </label>#}
{#                                        </div>#}
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                                            Sign in
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
