{% extends 'base.html.twig' %}

{% block title %}New Sub-menu{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-sm-6 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <h5>Create new Sub-menu</h5>
                                    {{ form_start(subMenuForm) }}
                                        {{ include('adminPanel/subMenu/_form.html.twig') }}
                                        <div>
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <a href="{{ path('crm_sub_menu_index') }}">
                                                <button type="button" class="btn btn-primary">Back</button>
                                            </a>
                                        </div>
                                    {{ form_end(subMenuForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}