{% extends 'base.html.twig' %}

{% block title %}{{ (app.request.attributes.get('_route')|titlePage) }}{% endblock %}

{% block body %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3>Welcome to mb admin panel!</h3>
                                    <h4>Good luck!</h4>
                                    <h5>
                                        <span class="badge hours"></span> :
                                        <span class="badge min"></span> :
                                        <span class="badge sec"></span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}