{% extends 'base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 ml-auto">
                    <div class="pt-md-5 mt-md-3 mb-5">
                        <div class="p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <h5>Create new Page</h5>
                                    {{ form_start(pageForm) }}
                                        {{ include('adminPanel/page/_form.html.twig') }}
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <a href="{{ path('crm_page_index') }}">
                                                <button type="button" class="btn btn-primary">Back</button>
                                            </a>
                                        </div>
                                    {{ form_end(pageForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}