@import '~bootstrap';
@import '~font-awesome';
@import 'adminPanel/sidebar';
@import 'adminPanel/dashboard';

body {
    background-color: #e0e0e0 !important;
}

.created-message {
    padding: unset;
    text-align: center;
}