{% extends 'base.html.twig' %}

{% block title %}Edit Gallery{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ml-auto">
                    <div class="row pt-md-5 mt-md-3 mb-5">
                        <div class="col-sm-6 p-2">
                            <div class="card card-common">
                                <div class="card-body">
                                    <h5>Edit gallery</h5>
                                    {{ include('adminPanel/gallery/_form.html.twig', {
                                        button_text: 'Update'
                                    }) }}
                                </div>

                                <div class="gallery_block">
                                    <form action="{{ path('crm_gallery', {id: crmGallery.id}) }}"
                                          method="POST" enctype="multipart/form-data" class="dropzone js-media-dropzone">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{#    {{ form_row(galleryForm.imageFile,{attr: {'placeholder': 'Select an gallery image'}}) }}#}